* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

header {
    background-color: #d71c2e;
    padding: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

header img {
    display: block;
    position: absolute;
    width: 80px;
    height: auto;
}

header h1 {
    font-size: 2.5rem;
    color: #fff;
    text-align: center;
}

header p {
    text-align: center;
    color: rgba(236, 232, 232, 0.95);
    margin-bottom: 10px;
}

.recipe-card {
    position: relative;
    background-color: #fff;
    border-radius: 15px;
    border: #f0d7b6 2px solid;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 450px;
    margin: 0 auto;
    margin-bottom: 50px;
    overflow: hidden;

}

.bar {
    position: absolute;
    width: 100%;
    height: 55px;
    background-color: #d71c2e;
}

.recipe-image {
    width: 100%;
    height: 500px;
}

.difficulty {
    position: absolute;
    top: 10px;
    left: 15px;
    background-color: #272424;
    box-shadow: #272424 0px 4px 8px;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.9rem;
}

.food-type {
    position: absolute;
    top: 10px;
    right: 15px;
    background-color: #ff6f61;
    box-shadow: #272424 0px 4px 8px;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.9rem;
}

.recipe-title {
    font-size: 1.8rem;
    color: #333;
    margin: 1rem;
    text-align: center;
}

.recipe-desc {
    font-size: 1rem;
    color: #666;
    margin: 0 1rem 1.5rem 1rem;
}

.rating {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.5rem;
}

.details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 120px;
    margin-left: 60px;
}

.recipe-detailstoo {
    color: #d71c2e;
}

.horizontal-rule {
    height: 1px;
    background-color: #0e0d0d;
    margin: 20px;
}

.view {
    width: 125px;
    margin: 0 auto 20px auto;
    padding: 10px;
    background-color: #d71c2e;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.view:hover {
    background-color: #be1a2a;
    scale: 1.05;
}

.save {
    width: 125px;
    margin: 0 auto 20px auto;
    padding: 10px;
    background-color: #fff;
    border: 2px solid #d71c2e;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.save:hover {
    scale: 1.05;
    background-color: #f4f4f4;
    border: 2px solid #c8192b;
}

.btn-cont {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.nutrition-hd {
    font-size: 1.2rem;
    color: #333;
    margin: 0 1rem 1rem 1rem;
    text-align: center;
    font-weight: 600;
}

.nutrition-deets {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-size: 0.9rem;
    color: #666;
    margin: 0 1rem 1.5rem 1rem;
    text-align: center;
}

.nutrition-deets div span {
    font-size: large;
    font-weight: 600;
    color: #d71c2e;
    display: block;
    margin-bottom: 5px;
}

@media (max-width: 500px) {
    header img {
        position: relative;
        margin: 0 auto;
        width: 60px;
    }
    
    header h1 {
        font-size: 2rem;
    }

    header p {
        font-size: 0.9rem;
    }

    .recipe-image {
        height: 400px;
    }

    .difficulty, .food-type {
        font-size: 0.8rem;
        padding: 4px 8px;
    }

    .recipe-title {
        font-size: 1.5rem;
    }

    .recipe-desc {
        font-size: 0.9rem;
    }

    .details {
        grid-template-columns: 1fr;
        text-align: center;
        gap: 20px;
        margin-left: 0;
    }

    .btn-cont {
        grid-template-columns: 1fr;
    }

    .nutrition-deets {
        grid-template-columns: 1fr;
    }
}